<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Vue.js CRUD application</title>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css'>
<link rel="stylesheet" href="./style.css">
</head>
<body>
<!-- partial:index.partial.html -->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>User app</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  
  <div class="container">
    <header class="page-header">
      <div class="branding">
        <h1>User app</h1>
      </div>
    </header>
    <main id="app">
      <router-view></router-view>
    </main>
  </div>

  <template id="user-list">
    <div class="actions">
      <a class="btn btn-default" v-link="{path: '/add-user'}">
        Add User
      </a>
    </div>
    <div class="actions">
      <a class="btn btn-default" v-link="{path: '/import-json'}">
        Import JSON
      </a>
    </div>
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>Surename</th>
        <th>Email</th>
        <th>Phone</th>
        <th class="col-sm-2">Edit/Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr class="animation" v-for="user in users | filterBy searchKey in 'name'">
        <td>{{ user.name }}</td>
        <td>{{ user.surename }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone }}</td>
        <td>
          <a class="btn btn-edit" v-link="{name: 'user-edit', params: {user_id: user.id}}">Edit</a>
          <a class="btn btn-delete" v-link="{name: 'user-delete', params: {user_id: user.id}}">Delete</a>
        </td>
      </tr>
      </tbody>
    </table>
  </template>

  <template id="import-json">
    <h2>Import JSON</h2>
    <form v-on:submit="importJson">
      <textarea v-model="json.text"></textarea>
      <button type="submit" class="btn btn-primary">Create</button>
      <a v-link="'/'" class="btn btn-default">Cancel</a>
    </form>
  </template>

  <template id="add-user">
    <h2>Add new User</h2>
    <form v-on:submit="createUser">
      <div class="form-group">
        <label for="add-name">Name</label>
        <input class="form-control" id="add-name" v-model="user.name" required/>
      </div>
      <div class="form-group">
          <label for="add-surename">Surename</label>
          <input class="form-control" id="add-surename" v-model="user.surename" required/>
        </div>
      <div class="form-group">
        <label for="add-email">Email</label>
        <input class="form-control" id="add-email" v-model="user.email"></input>
      </div>
      <div class="form-group">
        <label for="add-phone">Phone</span></label>
        <input type="number" class="form-control" id="add-phone" v-model="user.phone"/>
      </div>
      <button type="submit" class="btn btn-primary">Create</button>
      <a v-link="'/'" class="btn btn-default">Cancel</a>
    </form>
  </template>

  <template id="user-edit">
    <h2>Edit User</h2>
    <form v-on:submit="updateUser">
      <div class="form-group">
        <label for="edit-name">Name</label>
        <input class="form-control" id="edit-name" v-model="user.name" required/>
      </div>
      <div class="form-group">
          <label for="edit-surename">Surename</label>
          <input class="form-control" id="edit-surename" v-model="user.surename" required/>
        </div>
      <div class="form-group">
        <label for="edit-email">Email</label>
        <input class="form-control" id="edit-email" v-model="user.email"></input>
      </div>
      <div class="form-group">
        <label for="edit-phone">Phone <span></span></label>
        <input type="number" class="form-control" id="edit-phone" v-model="user.phone"/>
      </div>
      <button type="submit" class="btn btn-primary">Save</button>
      <a v-link="'/'" class="btn btn-default">Cancel</a>
    </form>
  </template>

  <template id="user-delete">
    <h2>Delete user {{ user.name }}</h2>
    <form v-on:submit="deleteUser">
      <p>The action cannot be undone.</p>
      <button type="submit" class="btn btn-danger">Delete</button>
      <a v-link="'/'" class="btn btn-default">Cancel</a>
    </form>
  </template>

</body>
</html>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue-router/0.7.13/vue-router.min.js'></script>
<script  src="./script.js"></script>

</body>
</html>